---
import { cva } from "../../styled-system/css";
import RootLayout from "../layouts/RootLayout.astro";
import {getBlogDetail, getBlogs} from "../libs/microcms"

export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);

const style = cva({
  base: {
    color: "neutral.50",
    fontSize: "sm",
  },

  variants: {
    text: {
      title: {
        fontSize: "2xl",
        fontWeight: "bold"
      },
      time: {
				color: "neutral.400",
        fontSize: "sm",
        mt: "4",
      },
      content: {
        mt: "10"
      }
    }
  }
})
---


<RootLayout>
  <div>
    <h1 class={style({ text: "title" })}>{blog.title}</h1>
    <time class={style({ text: "time" })}>公開日時：{blog.publishedAt.slice(0, 7)}</time>
    <div class={style({ text: "content" })} set:html={blog.content} />
  </div>
</RootLayout>