---
import { css } from '../../styled-system/css';

import {getBlogs} from "../libs/microcms"

const response = await getBlogs()
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class={css({fontSize: "2xl", fontWeight: "bold" })}>Astro</h1>
		<div>
			<ul>
				{response.contents.map((content) => (
					<li><a href={content.id}>{content.title}</a></li>
				))}
			</ul>
		</div>
	</body>
</html>
